body {
    font-size: 1em;
    font-weight: normal;
    font-family: Arial, Sans-serif;
    color: #000000;
    text-align: left;
}
h1 {
    font-size: 1.8em;
    font-weight: bold;
    color: rgba(97, 148, 50, 0.667);
    text-align: center;
}

xmp#update1 {
    display: none;
}

section#update3 {
    display: none;
}

xmp#html5 {
    display: none;
}

xmp#css5 {
    display: none;
}